<footer class="site-footer">

  <div class="wrapper">

    <div class="grid grid--container">

      <h2 class="footer-heading">My Brain on Anatomy</h2>

      <div class="row row--sm-top footer-col-wrapper">

        <div class="col col--sm col--footer-contact">
          <ul class="contact-list">
            <li>Barbie Klein</li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
          </ul>
        </div>

        <div class="col col--sm col--footer-descrip">
          <p>{{ site.description | escape }}</p>
        </div>

      </div>

    </div>

  </div>

</footer>

<script src="{{ "/assets/js/project.min.js" | relative_url }}"></script>
