<footer>

    <div class="container">

      <h2 class="navbar-brand"><a href="{{ site.homeurl }}">My Brain on Anatomy</a></h2>

      <div class="row">

        <div class="col-xs-12 col-sm-4">

          <ul class="contact-list">
            <li>Barbie Klein</li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
          </ul>

        </div>

        <div class="col-xs-12 col-sm-6 col-sm-offset-2">
          <p>{{ site.description | escape }}</p>
        </div>

      </div>

    </div>

</footer>

<script src="{{ "/assets/js/project.min.js" | relative_url }}"></script>
