<nav class="navbar navbar-default navbar-fixed-top">

  <div class="container">

    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a>

    </div>

    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">

      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cases <span class="caret"></span></a>
            <ul class="dropdown-menu">
            {% for section in site.homepage_sections %}
              {% if section.section_url %}
              <li><a href="{{ section.section_url }}">{{ section.section_title }}</a></li>
              <li role="separator" class="divider"></li>
              {% for column in section.columns %}
              <li><a href="{{ column.column_title.url }}">{{ column.column_title.text }}</a></li>
              {% endfor %}
              <li role="separator" class="divider"></li>
              {% endif %}
            {% endfor %}
            </ul>
          </li>
      </ul>

    </div>

  </div>

</nav>
