{% if include.links %}
  {% for link in include.links %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
    <div class="row">
    {% endif %}
    <div class="col-xs-12 col-sm-6">
      {% assign related_slide = site.slides | where: 'title', link.slide | first %}
      <a href="{{ related_slide.url | relative_url }}">
        <img src="{{ link.link_image }}" alt="{{ related_slide.title }}">
      </a>
    </div>
    {% if thecycle == 'even' %}
    </div>
    {% endif %}
  {% endfor %}
{% endif %}
