---
layout: default
---

<article class="home">

  <div class="container">

    <section>
      <div class="page-header">
        <h2>Embryology Cases</h2>
      </div>
      <ul class="case-list">
        {% for case in site.embryo_cases %}
          <li>
            <h2>
              <a href="{{ case.url }}">{{ case.title }}</a>
            </h2>
          </li>
        {% endfor %}
      </ul>
    </section>

    <section>
      <div class="page-header">
        <h2>Histology Cases</h2>
      </div>
      <ul class="case-list">
        {% for case in site.histo_cases %}
          <li>
            <h2>
              <a href="{{ case.url }}">{{ case.title }}</a>
            </h2>
          </li>
        {% endfor %}
      </ul>
    </section>

    <section>
      <div class="page-header">
        <h2>Resources</h2>
      </div>
      <p>Learning Objectives</p>
      <p>References</p>
    </section>

  </div>

</article>
