---
layout: default
---

<article class="home">

  <div class="container">

    <div class="page-header"><h1>Choose a Case to Begin</h1></div>

    {{ content }}

    <ul class="case-list">
      {% for case in site.cases %}
        <li>
          <h2>
            {% assign intro_slide = site.slides | where: 'title', case.slide | first %}
            <a href="{{ intro_slide.url | relative_url }}">{{ case.title }}</a>
          </h2>
        </li>
      {% endfor %}
    </ul>

  </div>

</article>
