---
layout: default
---

<article class="post">

  <div class="post-content grid grid-container">

    {% if content %}
    <div class="row">
      <div class="col col--sm">
        {{ content }}
      </div>
    </div>
    {% endif %}

    {% if page.checkboxes %}
      {% include checkboxes.html content=page.checkboxes.instructions_text options=page.checkboxes.options %}
    {% endif %}

    {% if page.labels %}
      {% include labeling.html labels=page.labels %}
    {% endif %}

    {% if page.links %}
      {% include links.html links=page.links %}
    {% endif %}

  </div>

</article>
